/*container*/
.accmanager-container {
  position: relative;
  max-width: 90%;
  width: 100%;
  background: #f9f9f9;
  padding: 25px;
  border-radius: 8px;
  max-height: calc(100vh - 56px);
    overflow-y: auto;
  margin:auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.accmanager-container::-webkit-scrollbar {
  display: none;
}


/*search bar*/


.search-container{
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

input#search-bar{
  width: 100%;
  height: 35px;
  padding: 0 15px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -55px;

}

/*Dropdown*/
.dropdown{
  position: absolute;
  top: 150px;
 
}

#sortDropdown {
  width: max-content;
  padding: 5px 5px;
}

/* Action Button */

.btncss {
  background-color: #a50113;
 color: white;
  border: none;
 padding: 5px 10px;
 cursor: pointer;
} 

/*table*/
table {
  margin-top: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr th,
table tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #eee;
  padding: 2px;
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #bbb;
}

table tr th {
  background: #eee;
  border-top: 1px solid #bbb;
  text-align: left;
}

.centered-cell {
  text-align: center;
}

.accmanager-body {
  margin-top: 0;
}