/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins',sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}


body{
  margin:auto;
}

.whole-container {
  position: relative;
    max-width: 70%;
    width: 100%;
    background: #f9f9f9;
    padding: 25px;
    border-radius: 8px;
    max-height: calc(100vh - 56px);
      overflow-y: auto;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 10px 10px 30px grey;
}

a {
  text-decoration: none ;
  color: #fffbf2;
  font-size: 1rem;
}

/*header*/
header{
  width: 100%;
  height: 60px;
  position: relative;
  padding: 0 5rem;
  z-index: 99;
  box-shadow: 0 0 2px #a50113;
  background-color: #c10206;
}

.overview{
  padding-top: 5px;
  font-size: 30px;
  font-weight: 600;
  background-image: linear-gradient(to left, #f50606, #4c2672);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}


.navbar {
  width: 100%;
  height: 60px;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.logo img{
  width: 50px;
  margin-right: 10px;
}

.logo a {
  display: flex;
  align-items: center;

}

.navbar .nav-btns {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   gap: 20px; 

}


.navbar .toggle-btn {
  display: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}


.action-btn {
  background-color: #fffbf2;
  color: #211d21;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action-btn:hover{
  scale: 1.05;
  color: #a50113;
}

.action-btn {
  scale:  0.95;
}



.dropdown_menu .action-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  
}



/* responsive design */

@media (max-width: 2000px){
  .navbar .logout img{
    display: none;
  }

  #appealbtn-bottom {
    visibility: hidden;
  }


}

@media (max-width: 998px){
  .navbar .action-btn {
    display: none;
  }

}




@media (max-width: 576px){
  .navbar .logo a {
    font-size: 16px;
    transition: scale 0.2 ease;
  }

  .navbar .logo img{
    width: 35px;
    transition: scale 0.2 ease;
  }

  /*.navbar .logout img{
    width: 20px;
    display: block;
    filter: invert(1);
  }*/

  h1 {
    font-size: 22px;
    transition: scale 0.2 ease;
  }

  .banner{
    margin-top: 10px;
  }

  .whole-container .offense-container {
    width: 100px;
    height: 110px;
    display:flex;
    margin: auto;
    margin-right: -55px;
    margin-left: 20px;
    position: absolute;
    transition: scale 0.2 ease;
  }

  .whole-container .offense-container .offense{
    color: #fffbf2;
    text-align: center;
    font-size: 13px;
  }
  
  
  .whole-container .offense-container .num {
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
  }

  .slideshow-container {
   
    margin-top: 120px;
  }

}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/* ------------------- Student Information Banner Here ---------------------------------*/

.banner {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.studentInfo-text1 {
  margin-top: 20px;
  font-size: 15px;
  display: inline-block;
  line-height: 30px;
}

 span .text-label {
  display: inline-block;
  line-height: 30px;
}

span .text-info{
  display: inline-flex;
  line-height: 30px;
}

/* minor and major offenses section*/

.offense-container {
  position: relative;
  float: right;
  width: 100px;
  height: 120px;
  background-color: #a50113;
  margin-top: -120px;
  margin-right: 30px;
  margin-bottom: 8px;
  border-radius: 10px;
  display: inline-flex;
  
}
#minorOffense{
  right: 120px;
}

.offense {
  color: #fffbf2;
  width: 100px;
  height: 100px;
  margin-top: 25px;
  text-align: center;
  font-size: 15px;
}


.num {
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
}

/*----------- ANNOUNCEMENT BANNER SLIDESHOW CSS ------------- */

.mySlides {display: none; transition: all 1s ease;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
 
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  position: left;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.openingText {
  margin-top: 80px;
}

.swiper {
  position: absolute;
  height: 85vh;
  width: auto;
  background-size: cover;
  border-radius: 20px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

section {
  scroll-snap-align: start;
  margin-bottom: 100px;
  margin-right: 90px;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  font-family: "Poppins";
  padding-top: 50px;
  color: #211d21;
}

.footer-bottom{
  background: #211d21;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  color: #fffbf2;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}


/*-----------SLIDER CSS VIOLATION INFORMATION--------------*/

.swiper-slide {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: #f1f1f0; /* Black w/opacity/see-through */
  font-weight: bold;
  border: 5px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 200px;
}

.conductInfo {
  background-color: #f1f1f0;
  border: none;
  color: #f1f1f0;
  font-size: 20px;
  padding-left: 50px;
  width: 50%;
  display: inline;
  text-align: left;
  margin-left: 10px;
  outline: none;
  resize: none; /* Disable textarea resizing if needed */
  overflow-wrap: break-word;
}

.lbl {
  display: inline-block;
  align-self: left;
  width: 100px;
  display: inline-block;
  color: #000;
  padding-top: 1px;
  padding-right: 150px;
  margin-left: 20%;
}

.swiper-pagination-bullet-active {
  background-color: #fffbf2 !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0.8);
}

input[type="time"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}

.imageEvidence {
  max-width: 25%; 
  max-height: 25%; 
  margin-left: 40%;
  margin-right: 50%;
  z-index: 3;
  display: block;
}
/*-----------Slider button--------------*/

#appealbtn {
  width: 150px; 
  height: 40px; 
  font-size: 16px;
  position: absolute;
  right: 5%;
  border-radius: 10px;
}

/*-----------Appeal Popup--------------*/

.containerAppealMessage {
  display: none;
position: fixed;
top: 50%;
left: 50%;
max-width: 700px;
width: 100%;
background: #f9f9f9;
padding: 25px;
border-radius: 8px;
border: 2px solid #ccc;
max-height: calc(100vh - 56px);
overflow-y: auto;
margin:auto;
margin-top: 25px;
margin-bottom: 25px;
z-index: 9999;
transform: translate(-50%, -50%);
align-items: center;
justify-content: center;
}
.containerAppealMessage::-webkit-scrollbar {
  display: none;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(187, 15, 15);
}
.form button:hover {
  background: rgb(112, 112, 112);
}

/*-----------SLIDER CSS VIOLATION INFORMATION--------------*/

@media (max-width: 600px){
  .swiper {
    width: 320px; 
    position: static;
  }

  .conductInfo {
    width: auto;
    font-size: 15px;
  }

  .lbl {
    width: 10px;
    display: inline-block;
    font-size: 15px;
  }

  .lbl #remarks{
    overflow: visible;
  }

  #appealbtn{
    display: none;
  }

  #appealbtn-bottom{
  width: 80%; 
  height: 40px; 
  font-size: 16px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 27px;
  position: static;
  align-self: center;
  visibility: visible;
  }
  }


  